$spacing: 8px;
$primary: #3fa9f5;
$primaryLightLittle: #7ac3f8;
$primaryLightLittleMore: #93cefa;
$primaryLight: #c5e5fc;
$primaryLighter: #e5f1fd;
$primaryLightest: #ebf0f4;
$secondary: #f57e82;
$secondaryLight: #f58086;
$secondaryLighter: #faf1f2;
