@import './palette';

.button {
    border-width: 0 !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-clip: padding-box !important;
    overflow: hidden;
    outline: none;
    .buttonName {
        font-weight: 700;
        user-select: none;
    }
    button {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        line-height: unset;
        outline: none;
        border: none;
        transition: color 225ms, background 225ms;
    }
}

.text_primary {
    color: $primary;
}

.text_white {
    color: white;
}

.text_secondary {
    color: $secondary;
}

.background_white {
    background: none;
    border-width: 3px;
    @media screen and (max-width: 500px) {
        border-width: 2px;
    }
    @media screen and (min-width: 500.1px) {
        &:hover {
            background: $primaryLight;
        }
    }
}

.background_grey {
    background: #ddd;
    border: {
        width: 3px;
        color: #ddd;
    }
}

.background_pureWhite {
    background: white;
    border-width: 0;
}

.background_primary {
    background: $primary;
}

.background_primaryLightLittleMore {
    background: $primaryLightLittleMore;
}

.background_primaryLight {
    background: $primaryLight;
}

.background_primaryLighter {
    background: $primaryLighter;
    @media screen and (min-width: 600.1px) {
        &:hover {
            background: $primaryLight;
        }
    }
}

.background_secondary {
    background: $secondary;
    width: 100%;
}

.disabled {
    cursor: auto;
}
