@import url('https://fonts.lug.ustc.edu.cn/css?family=Roboto');

$spacing: 8px;
$primary: #3FA9F5;
$primaryLightLittle: #7AC3F8;
$primaryLightLittleMore: #93CEFA;
$primaryLight: #C5E5FC;
$primaryLighter: #E5F1FD;
$primaryLightest: #EBF0F4;
$secondary: #F57E82;
$secondaryLight: #F58086;
$secondaryLighter: #FAF1F2;
$chineseFont: 'Hiragino Sans GB W3';

@font-face {
  font-family: $chineseFont;
  src: url(../asset/font/Hiragino.otf);
}

* {
  box-sizing: border-box;
  font-family: $chineseFont;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

html {
  @media screen and (min-width: 800px) {
    font-size: 16px;
  }
  @media screen and (min-width: 375px) and (max-width: 800px) {
    font-size: 14px;
  }
  @media screen and (min-width: 360px) and (max-width: 375px) {
    font-size: 13.5px;
  }
  @media screen and (max-width: 360px) {
    font-size: 12px;
  }
}

body {
  margin: 0;
}

.main {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  @media screen and (min-width: 501px) {
    min-width: 800px;
  }
}

.background {
  flex: 1;
  background: {
    size: contain;
    repeat: repeat-y;
    position: bottom;
  }
  margin-bottom: $spacing * 2;
  @media screen and (max-width: 500px) {
    display: none;
  }
}

#bgLeft {
  background-image: url(../asset/img/bgLeft.png);
  margin-left: $spacing * 4;
}

#bgRight {
  background-image: url(../asset/img/bgRight.png);
  margin-right: $spacing * 3;
}

.logo {
  user-select: none;
  @media screen and (min-width: 501px) {
    position: absolute;
    top: $spacing * 3;
    left: $spacing * 5;
    width: 20%;
  }
  @media screen and (max-width: 500px) {
    width: 50%;
    margin-top: $spacing * 4;
  }
}

.container {
  display: flex;
  min-height: 100vh;
  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}

.center {
  @media screen and (max-width: 1440px) {
    flex: 4;
  }
  @media screen and (max-width: 1024px) {
    flex: 6;
  }
  flex: 3;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: {
    top: $spacing * 3;
    bottom: $spacing * 2;
  }
  @media screen and (max-width: 1440px) {
    margin: {
      top: $spacing * 2;
      bottom: $spacing;
    }
  }
}

.header {
  @media screen and (max-width: 1024px) {
    width: 80%;
  }
  width: 70%;
  user-select: none;
}

.borderTop {
  width: 90%;
  user-select: none;
}

.borderTopSubmitted {
  margin-top: $spacing * 4;
}

.borderVertical {
  background: {
    image: linear-gradient($primaryLightLittle 50%, rgba(0, 0, 0, 0) 0%);
    position: left;
    size: 2px 14.1px;
    repeat: repeat-y;
  }
  width: 2.5px;
}

.borderLeft {
  margin-left: -1px;
}

.borderRight {
  margin-right: -1px;
  margin-top: -4px;
}

.borderBottom {
  @extend .borderTop;
  transform: rotate(180deg);
}

.fakeBorderContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $spacing * 2 0;
}

.title {
  font: {
    family: 'Roboto', $chineseFont;
    size: 3.3rem;
  }
  @media screen and (max-width: 1600px) {
    font-size: 3.1rem;
  }
  @media screen and (max-width: 1440px) {
    font-size: 2.9rem;
  }
  @media screen and (max-width: 1280px) {
    font-size: 2.7rem;
  }
  @media screen and (max-width: 1024px) {
    font-size: 2.6rem;
  }
  @media screen and (max-width: 800px) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: 640px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 500px) {
    margin: $spacing 0 0;
  }
  margin: -$spacing * 2 0 0;
  color: $secondaryLight;
}

.titleContainer {
  margin-top: $spacing;
  margin-bottom: $spacing * 3;
  text-align: center;
}

.formContainer {
  background: {
    image: url(../asset/img/form.png);
    size: contain;
    repeat: no-repeat;
  }
  position: relative;
  @media screen and (max-width: 500px) {
    width: 95%;
    background: none;
    padding: 0;
  }
  flex: 0 1 27vw;
  width: 100%;
  padding: $spacing * 7 $spacing * 5;
  @media screen and (max-width: 800px) and (min-width: 501px) {
    padding: $spacing * 5 $spacing * 3;
    flex: 0 1 260px;
  }
  @media screen and (max-width: 900px) and (min-width: 801px) {
    padding: $spacing * 5 $spacing * 3;
    flex: 0 1 33vw;
  }
  @media screen and (max-width: 1024px) and (min-width: 901px) {
    padding: $spacing * 5 $spacing * 5;
    flex: 0 1 33vw;
  }
  @media screen and (max-width: 1280px) and (min-width: 1025px) {
    padding: $spacing * 6 $spacing * 5;
    flex: 0 1 30vw;
  }
  @media screen and (max-width: 1440px) and (min-width: 1281px) {
    padding: $spacing * 5 $spacing * 5;
    width: 90%;
    flex: 0 1 26.6vw;
  }
  @media screen and (max-width: 1600px) and (min-width: 1441px) {
    padding: $spacing * 5 $spacing * 5;
  }
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 500px) {
    align-items: center;
    & > * {
      margin: $spacing * 3 0;
    }
  }
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  display: flex;
  @media screen and (max-width: 500px) {
    width: 90%;
  }
}

.border {
  border: {
    radius: 12px;
    color: $primaryLight;
    width: 3px;
    style: solid;
  }
  @media screen and (max-width: 1600px) {
    border-radius: 10px;
  }
  @media screen and (max-width: 1440px) {
    border-radius: 8px;
  }
  @media screen and (max-width: 500px) {
    border: {
      radius: 12px;
      width: 2px;
    }
  }
}

.label {
  @extend .border;
  border-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: $primary;
  color: white;
}

.fontSize {
  font-size: 1.2rem;
  @media screen and (max-width: 1600px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 1440px) {
    font-size: 0.9rem;
  }
  @media screen and (max-width: 1280px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: 1024px) {
    font-size: 0.75rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.2rem;
  }
}

.labelName {
  @media screen and (max-width: 1600px) {
    margin: 15px 19px;
  }
  @media screen and (max-width: 1440px) {
    margin: 12px 16px;
  }
  @media screen and (max-width: 1120px) {
    margin: 9px 13px;
  }
  @media screen and (max-width: 1024px) {
    margin: 8px 12px;
  }
  @media screen and (max-width: 500px) {
    margin: 16px 20px;
    font-weight: normal;
  }
  @media screen and (max-width: 400px) {
    margin: 12px 16px;
    font-weight: normal;
  }
  @media screen and (max-width: 320px) {
    margin: 8px 12px;
    font-weight: normal;
  }
  margin: 16px 20px;
  @extend .fontSize;
  font-weight: bold;
  user-select: none;
}

@mixin getInputWidth($type) {
  @if $type == 'lg' {
    width: 185px;
    @media screen and (max-width: 1600px) {
      width: 170px;
    }
    @media screen and (max-width: 1440px) {
      width: 160px;
    }
    @media screen and (max-width: 1280px) {
      width: 150px;
    }
    @media screen and (max-width: 1024px) {
      width: 140px;
    }
  }
  @if $type == 'ml' {
    width: 145px;
    @media screen and (max-width: 1600px) {
      width: 130px;
    }
    @media screen and (max-width: 1440px) {
      width: 115px;
    }
    @media screen and (max-width: 1280px) {
      width: 105px;
    }
    @media screen and (max-width: 1024px) {
      width: 95px;
    }
    @media screen and (max-width: 900px) {
      width: 85px;
    }
  }
  @if $type == 'md' {
    width: 110px;
    @media screen and (max-width: 1600px) {
      width: 94px;
    }
    @media screen and (max-width: 1440px) {
      width: 74px;
    }
    @media screen and (max-width: 1280px) {
      width: 64px;
    }
    @media screen and (max-width: 1024px) {
      width: 60px;
    }
    @media screen and (max-width: 900px) {
      width: 54px;
    }
  }
  @if $type == 'sm' {
    width: 95px;
    @media screen and (max-width: 1600px) {
      width: 75px;
    }
    @media screen and (max-width: 1440px) {
      width: 55px;
    }
    @media screen and (max-width: 1280px) {
      width: 45px;
    }
    @media screen and (max-width: 1024px) {
      width: 40px;
    }
  }
}

.inputContent {
  @extend .border;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  height: auto;
  outline: none;
  @extend .fontSize;
  padding-left: $spacing;
  @media screen and (max-width: 500px) {
    flex-grow: 1;
    width: auto;
  }
  @media screen and (max-width: 1024px) {
    padding-left: $spacing / 2;
  }
}

.lg {
  @include getInputWidth('lg')
}

.ml {
  @include getInputWidth('ml')
}

.md {
  @include getInputWidth('md')
}

.sm {
  @include getInputWidth('sm')
}

.xs {
  @include getInputWidth('xs')
}

.mobile_sm {
  width: 70%;
}

.button {
  @extend .border;
  border-width: 0;
  outline: none;
  cursor: pointer;
}

.buttonName {
  @extend .labelName;
  @extend .fontSize;
}

.text_primary {
  color: $primary;
}

.text_white {
  color: white;
}

.text_secondary {
  color: $secondary;
}

.background_white {
  background: none;
  border-width: 3px;
  @media screen and (max-width: 500px) {
    border-width: 2px;
  }
  &:hover {
    background: $primaryLight;
  }
}

.background_grey {
  background: #ddd;
  border: {
    width: 3px;
    color: #ddd;
  }}

.background_pureWhite {
  background: white;
  border-width: 0;
}

.background_primary {
  background: $primary;
  border: {
    width: 3px;
    color: $primary;
  }
}

.background_primaryLightLittleMore {
  background: $primaryLightLittleMore;
  border: 0;
}

.background_primaryLight {
  @extend .background_white;
  background: $primaryLight;
}

.background_primaryLighter {
  background: $primaryLighter;
  border: 0;
  &:hover {
    background: $primaryLight;
  }
}

.background_secondary {
  background: $secondary;
  width: 100%;
  border: 0;
}

.formColumn {
  display: inline-block;
  width: 50%;
  @media screen and (max-width: 500px) {
    width: 90%;
  }
}

.formColumn:first-child {
  @media screen and (max-width: 1120px) {
    padding-right: $spacing;
  }
  padding-right: $spacing * 2;
}

.formColumn:last-child {
  @media screen and (max-width: 1120px) {
    padding-left: $spacing;
  }
  padding-left: $spacing * 2;
}

.rowItem:first-child {
  margin-bottom: $spacing * 4;
  @media screen and (max-width: 1440px) {
    margin-bottom: $spacing * 3;
  }
}

.submit {
  position: absolute;
  bottom: $spacing;
  right: -$spacing * 24;
  @media screen and (max-width: 1280px) {
    right: -$spacing * 18;
  }
  @media screen and (max-width: 1024px) {
    right: -$spacing * 12;
  }
  @media screen and (max-width: 500px) {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    border-radius: 8px;
    @media screen and (max-width: 500px) {
      width: auto;
    }
    div {
      font-size: 1.5rem;
      margin: $spacing $spacing * 4;
      @media screen and (max-width: 1280px) {
        margin: $spacing $spacing * 2;
        font-size: 1.2rem;
      }
      @media screen and (max-width: 1024px) {
        right: $spacing * 4;
        font-size: 1rem;
      }
      @media screen and (max-width: 500px) {
        margin: $spacing $spacing * 4;
        font-size: 1.5rem;
      }
    }
  }
}

.disabled {
  cursor: auto;
}

.choose {
  width: 35%;
  @media screen and (max-width: 500px) {
    width: 80%;
  }
  @media screen and (max-width: 400px) {
    width: 90%;
  }
}

.selects {
  width: 60%
}

.selectContainer {
  position: relative;
}

.selectClicked {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.selectArrowRotate {
  transform: rotate(180deg);
}

.select {
  outline: none;
  @media screen and (max-width: 1600px) {
    padding: 15px 54px 15px 19px;
  }
  @media screen and (max-width: 1440px) {
    padding: 12px 48px 12px 16px;
  }
  @media screen and (max-width: 1120px) {
    padding: 9px 42px 9px 13px;
  }
  @media screen and (max-width: 1024px) {
    padding: 7px 36px 7px 11px;
  }
  padding: 16px 56px 16px 20px;
  @extend .fontSize;
  @media screen and (max-width: 500px) {
    font-weight: normal;
    padding: 16px 56px 16px 20px;
  }
  font-weight: bold;
  color: $primary;
  @extend .border;
  cursor: pointer;
  appearance: none;
  user-select: none;
  position: relative;
}

.selectArrow {
  position: absolute;
  @media screen and (max-width: 1600px) {
    zoom: 90%;
  }
  @media screen and (max-width: 1440px) {
    zoom: 80%;
  }
  @media screen and (max-width: 1120px) {
    zoom: 70%;
  }
  @media screen and (max-width: 1024px) {
    zoom: 60%;
  }
  @media screen and (max-width: 500px) {
    zoom: 90%;
  }
  cursor: pointer;
  top: calc(50% - 15px);
  right: 20px;
  height: 30px;
  width: 30px;
  pointer-events: none;
  transition: transform 0.2s;
}

.up {
  transition: transform 0.2s;
}

.contentPadding {
  @media screen and (max-width: 1600px) {
    padding: 15px 19px;
  }
  @media screen and (max-width: 1440px) {
    padding: 12px 16px;
  }
  @media screen and (max-width: 1120px) {
    padding: 9px 13px;
  }
  @media screen and (max-width: 1024px) {
    padding: 8px 12px;
  }
  @media screen and (max-width: 500px) {
    padding: 16px 20px;
  }
  padding: 16px 20px;
}

.selectMenu {
  position: absolute;
  width: 100%;
  cursor: pointer;
  background: white;
  z-index: 1;
  @extend .border;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  max-height: 200px;
  @media screen and (max-width: 500px) {
    max-height: 300px;
  }
  overflow-y: auto;
  div {
    text-align: center;
    color: $primary;
    @extend .contentPadding;
    @extend .fontSize;
    user-select: none;
    &:hover {
      background: #C5E5FC;
    }
  }
}

.selectValue {
  position: absolute;
}

.hidden {
  visibility: hidden;
}

.textArea {
  resize: none;
  outline: none;
  height: 100%;
  width: 100%;
  border: 0;
  @extend .fontSize;
  flex: 1;
  background: none;
  padding: $spacing * 3;
  @media screen and (max-width: 500px) {
    padding: $spacing * 2;
  }
}

.textAreaLabel {
  border-top-left-radius: 0;
  @media screen and (min-width: 501px) {
    border-bottom-left-radius: 0;
    margin-top: $spacing * 2;
    margin-left: -3px;
  }
  @media screen and (max-width: 500px) {
    border-top-right-radius: 0;
    margin-top: -2px;
    & > div {
      margin: $spacing;
    }
  }
}

.textAreaContainer {
  height: 100%;
  @media screen and (max-width: 500px) {
    height: 200px;
    flex-direction: column;
    align-items: center;
  }
  @extend .border;
  display: flex;
  align-items: flex-start;
  overflow-x: visible;
}

.timeContainer {
  @extend .formContainer;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.timeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -$spacing * 6;
  @media screen and (max-width: 1600px) {
    margin-top: -$spacing * 4;
  }
  @media screen and (max-width: 500px) {
    margin-top: 0;
    margin-bottom: $spacing;
  }
}

.subtitle {
  margin: 0;
  color: $primary;
  font-weight: bold;
  font-size: 2.5rem;
  @media screen and (max-width: 1600px) {
    font-size: 2.25rem;
  }
  @media screen and (max-width: 1440px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 1280px) {
    font-size: 1.75rem;
  }
  @media screen and (max-width: 1024px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: $spacing;
  }
}

.descriptionFontSize {
  font-size: 1.4rem;
  @media screen and (max-width: 1600px) {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 1440px) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: 1280px) {
    font-size: 1.1rem;
  }
  @media screen and (max-width: 1024px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.3rem;
  }
}

.description {
  margin: 0;
  color: $primaryLightLittle;
  font-weight: bold;
  @media screen and (max-width: 500px) {
    font-weight: normal;
  }
  @extend .descriptionFontSize
}

.emphasize {
  color: $secondaryLight;
}

.timeContent {
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    & > * {
      margin: $spacing * 3 0;
    }
  }
}

.timeButtons {
  @media screen and (max-width: 500px) {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.timeSubmit {
  button {
    display: block;
    margin-top: $spacing * 2;
  }
  & > button {
    @media screen and (max-width: 500px) {
      margin: $spacing * 3 0;
    }
  }
  @media screen and (max-width: 1280px) {
    margin-right: -$spacing * 2;
  }
  @media screen and (max-width: 500px) {
    margin-right: 0;
  }
  margin-right: -$spacing * 5;
}

.layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.none {
  display: none;
}

.layerPrimary {
  background: $primaryLightest;
}

.layerSecondary {
  background: $secondaryLighter;
}

.modal {
  position: absolute;
  padding: $spacing * 4;
  width: 250%;
  right: 0;
  @extend .border;
  border-width: 0;
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.modal_abandon {
  bottom: 140px;
  @media screen and (max-width: 500px) {
    bottom: 190px;
  }
}

.modal_submit {
  bottom: 70px;
  @media screen and (max-width: 500px) {
    bottom: 120px;
  }
}

.modalButtons {
  display: flex;
  @media screen and (max-width: 360px) {
    flex-direction: column;
    align-items: center;
  }
  justify-content: space-around;
  button {
    @media screen and (max-width: 360px) {
      margin: $spacing * 2 0;
    }
  }
  button div {
    margin: $spacing $spacing * 2;
    @media screen and (max-width: 1024px) {
      margin: $spacing $spacing;
    }
    @extend .descriptionFontSize
  }
}

.prompt {
  color: white;
  @extend .descriptionFontSize;
  font-weight: 100;
  margin: 0;
}

.decided {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.decidedTitle {
  color: $primary;
  font-size: 3.5rem;
  @media screen and (max-width: 1600px) {
    font-size: 3.3rem;
  }
  @media screen and (max-width: 1440px) {
    font-size: 3.1rem;
  }
  @media screen and (max-width: 1280px) {
    font-size: 2.9rem;
  }
  @media screen and (max-width: 1024px) {
    font-size: 2.7rem;
  }
  @media screen and (max-width: 500px) {
    font-weight: normal;
  }
  @media screen and (max-width: 320px) {
    font-size: 2.4rem;
  }
  font-weight: bold;
}

.decidedDescription {
  color: $primaryLightLittle;
  font-weight: bold;
  @media screen and (max-width: 500px) {
    font-weight: normal;
    margin-top: $spacing * 2;
    font-size: 0.9rem;
  }
  @extend .descriptionFontSize;
}

.done {
  height: 3.5rem;
  @media screen and (max-width: 1600px) {
    height: 3.3rem;
  }
  @media screen and (max-width: 1440px) {
    height: 3.1rem;
  }
  @media screen and (max-width: 1280px) {
    height: 2.9rem;
  }
  @media screen and (max-width: 1024px) {
    height: 2.7rem;
  }
  fill: $primary;
  vertical-align: text-top;
}

.snackBar {
  position: fixed;
  left: $spacing * 3;
  bottom: $spacing * 2;
  padding: $spacing * 2 $spacing * 4;
  margin-bottom: -70px;
  background: $secondary;
  border-radius: 6px;
  color: white;
  z-index: 1;
  @extend .descriptionFontSize;
  font-weight: bold;
  box-shadow: 0 0 5px $secondaryLight;
  animation: {
    duration: 3s;
    name: pop;
  }
}

@keyframes pop {
  10% {
    margin-bottom: 0;
  }
  90% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: -70px;
  }
}


.fullHeight {
  height: 100%;
  @media screen and (max-width: 500px) {
    min-height: 250px;
  }
}

.fileButton {
  @media screen and (max-width: 500px) {
    font-weight: normal;
  }
  font-weight: bold;
  display: block;
}

.submittedContainer {
  margin-top: $spacing * 3;
}
